# Binary Encoding:
Binary encoding first converts categories into numerical labels and then transforms those labels into binary codes.
Each binary digit gets its column. This method can be more efficient than one-hot encoding when dealing with many
categories.

# • Advantages:
• Reduces the dimensionality compared to one-hot encoding for high cardinality features.
• Retains more information in fewer dimensions than label encoding.
# • Disadvantages:
• More complex and harder to interpret than one-hot or label encoding.
• Binary representation can introduce relationships that do not exist in the original categorical
data.

In [5]:
import pandas as pd
import category_encoders as ce
# The category_encoders library in Python is used for performing various types of encoding on categorical data, such as one-hot encoding, binary encoding, ordinal encoding, and more

In [6]:
data = {'Category': ['A','B','C','A','B','C','A','B','C']}
df = pd.DataFrame(data)

In [7]:
df.head()

  Category
0        A
1        B
2        C
3        A
4        B

In [8]:
encoder = ce.BinaryEncoder(cols=['Category'],return_df=True)

In [10]:
df.shape

(9, 1)

In [9]:
df_binary_encoded = encoder.fit_transform(df)
df_binary_encoded

   Category_0  Category_1
0           0           1
1           1           0
2           1           1
3           0           1
4           1           0
5           1           1
6           0           1
7           1           0
8           1           1